<!-- Klavs Sprugevics, 15.04.2021. -->
<!DOCTYPE html>
<html lang="en" ng-app="restaurantApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restorāns "Ābols"</title>
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid" ng-controller="DishController">
      <form novalidate name="form">
        <h2 id="specials" class="display-4 row justify-content-center m-2">Pievienot ēdienu:</h2>
        <hr/>
        <div class="row justify-content-center">
          <div class="form-group text-center lead w-25">
              <label class="display-4">Nosaukums</label>
              <input name="nosaukums" type="text" class="form-control lead text-center" ng-model="newDish.name" maxlength=50 required>
              <br/>
              <div ng-show="form.$submitted || form.nosaukums.$touched">
                <span class="alert alert-danger" ng-show="form.nosaukums.$error.required">Nosaukums nevar būt tukšs!</span>
              </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group text-center lead w-25">
            <label class="display-4">Apraksts</label>
            <textarea name="apraksts" class="form-control lead" rows="4" style="resize:none;" ng-model="newDish.description" required></textarea>
            <br/>
            <div ng-show="form.$submitted || form.apraksts.$touched">
              <span class="alert alert-danger" ng-show="form.apraksts.$error.required">Apraksts nevar būt tukšs!</span>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group text-center lead px-2">
            <label class="display-4">Cena</label>
            <input name="cena" type="text" class="form-control lead text-center" ng-model="newDish.price" ng-pattern="/^[0-9]+\.[0-9]{2}$/" required>
            <div class="mt-4" ng-show="form.cena.$touched && form.cena.$invalid || form.$submitted">
              <span class="alert alert-danger" ng-show="form.cena.$invalid">Cena jāievada formā: eiro.centi</span>
            </div>
          </div>
          <div class="form-group text-center lead px-2">
            <label class="display-4">Attēls</label>
            <input type="text" class="form-control lead text-center" ng-model="newDish.image">
          </div>
          <div class="form-group text-center lead m-4 px-4">
            <label class="form-check-label row">
              <input class="form-check-input" type="checkbox" ng-model="specials">
              Īpašais piedāvājums
            </label>
            <label class="form-check-label row">
              <input class="form-check-input" type="checkbox" ng-model="vegetarian">
              Veģetārs
            </label>
            <label class="form-check-label row">
              <input class="form-check-input" type="checkbox" ng-model="vegan">
              Vegānisks
            </label>
          </div>
        </div>
        <div class="text-center lead">
          <input type="submit" class="btn btn-primary lead m-4 px-4 py-2 w-50" ng-click="checkInfo()" value="Pievienot" ng-disabled="form.$invalid"/>
        </div>
      </form>

      <div class="row" ng-controller="MenuController">
        <div class="col-md-8">
          <form class="col-auto card card-sm">
            <div class="card-body row align-items-center">
              <div class="col-auto">
                  <i class="fas fa-search h4 text-body"></i>
              </div>
              <div class="col-auto">
                  <input class="form-control form-control-lg form-control-borderless" type="text" placeholder="Nosaukums" ng-model="keyword">
              </div>
              <div class="col-auto">
                <button class ="btn mx-3" type="button" ng-click="clicked1 = !clicked1; addTag('specials')" ng-class="{true : 'btn-light', false : 'btn-info'}[!clicked1]"/>Īpašie piedāvājumi</button>
                <button class ="btn mx-3" type="button" ng-click="clicked2 = !clicked2; addTag('vegetarian')" ng-class="{true : 'btn-light', false : 'btn-info'}[!clicked2]"/>Veģetārs</button>
                <button class ="btn mx-3" type="button" ng-click="clicked3 = !clicked3; addTag('vegan')" ng-class="{true : 'btn-light', false : 'btn-info'}[!clicked3]"/>Vegānisks</button>
              </div>
              <div class="col-auto">
                <select class="custom-select" ng-model="selectedOrder" ng-change="orderBy()">
                  <option value="" disabled selected hidden>Kārtošana</option>
                  <option value="1">Cena, augoša</option>
                  <option value="-1">Cena, dilstoša</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-8">
          <div>
            <div class="p-4">
              <h2 id="specials" class="display-4">Piedāvājums:</h2>
              <div class="row p-4" ng-repeat="food in dishes | filter : {'name' : keyword} | filter : checkTags()">
                <div class="col-xs-3 mr-4">
                  <img class="rounded" src={{food.image}} style="width:225px;">
                </div>
                <div class="col-md-9">
                  <h3>{{food.name}}</h3>
                  <hr/>
                  <p>{{food.description}}</p>
                  <p class="lead text-right">{{food.price}} <span class="fas fa-euro-sign"></span></p>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>

    
    <script src="./bower_components/angular/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>
  </body>
</html>