<div class="col text-center">
    <button class="btn btn-primary btn-block lead mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#epastsCollapse" aria-expanded="false" aria-controls="epastsCollapse">E-pasts</button>
</div>
<div class="col text-center">
    <div class="collapse show" id="epastsCollapse">
        <div class="card card-body bg-light mb-5">
            <p class="lead font-italic"><i class="far fa-envelope"></i> informacija@restoransabols.lv</p>
        </div>
    </div>
</div>
<div class="col text-center">
    <a class="btn btn-primary btn-block lead mb-4" role="button" aria-expanded="false" aria-controls="telefonsCollapse">Telefona nr.</a>
</div>
<div class="col text-center">
    <div class="collapse show" id="telefonsCollapse">
        <div class="card card-body bg-light  mb-5">
            <p class="lead font-italic"> <i class="fas fa-phone"></i> +371 27777667</p>
        </div>
    </div>
</div>
<div class="col text-center">
    <a class="btn btn-primary btn-block lead mb-4" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="adreseCollapse">Adrese</a>
</div>
<div class="col text-center">
    <div class="collapse show" id="adreseCollapse">
        <div class="card card-body bg-light mb-5">
            <p class="lead font-italic"><i class="fas fa-inbox"></i> Ģertrūdes iela, Latgales priekšpilsēta, Rīga, LV-1011</p>
        </div>
    </div>
</div>
