<div class="container-fluid">
    <div class="jumbotron m-0 p-3" style="background:transparent">
        <hr/>
        <div class="row">
            <div class="col-sm">
                <p class="text-right h5">Twitter:</p>
            </div>
            <div class="col-sm">
                <span class="fab fa-twitter fa-2x"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="text-right h5">Facebook:</p>
            </div>
            <div class="col-sm">
                <span class="fab fa-facebook-square fa-2x"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="text-right h5">Instagram:</p>
            </div>
            <div class="col-sm">
                <span class="fab fa-instagram fa-2x"></span>
            </div>
        </div>
        <hr/>
        <h4 class="text-center lead p-0 m-0"><span class="far fa-copyright fa-1x"></span>  Klāvs Spruģevics 2021</h4>
    </div>
</div>